numpy==1.26.4
scipy==1.16.0
SimpleITK==2.5.2
acvl-utils==0.2.5
dynamic-network-architectures==0.4.2
batchgenerators==0.25.1
batchgeneratorsv2==0.3.0
scikit-learn==1.7.0
scikit-image==0.25.2
pandas==2.3.0
graphviz==0.21
tifffile==2025.6.11
requests==2.32.4
nibabel==5.3.2
matplotlib==3.10.3
seaborn==0.13.2
imagecodecs==2025.3.30
yacs==0.1.8
einops==0.8.1
blosc2==3.5.1
